
.blogPage{
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle{
    position: absolute;
    right: 10%;
    top: 10px;
    display: flex;
    color: white;
}
  

.toggleBtn{
    width: 40px;
    height: auto;
    cursor: pointer;
    color: white;
    background-color: black;
    border: none;
}    

svg{
    width: 100%;
    height: 100%; 
}


.btnText{
    margin-top: 8px;
}


 