
.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

span{
  text-align: center;
  margin-bottom: 20px;
  font-style: italic;
}

.postItem{
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin-top: 100px;
  border-bottom: 1px solid grey;  
  text-indent: 12px;
}


h2{
  text-align: center;
}


.postItem img{
  display: flex;
  justify-content: center;
}

img{
  max-width: 500px;;
  width: 100%;
  max-height: 400px;
}

.vote{
  display: flex;
  text-align: center;
  justify-content: center;
}

.vote ul{
  list-style: none;
  padding-left: 0;
  text-indent: 0;
}
.vote ul li{
  margin: 10px;
}

.vote button{
  border: none;
  background-color: white;
  cursor: pointer;
}

.vote button svg{
  width: 22px;
}

.commentSection{
  margin-top: 50px;
  width: 50%;
  word-break: break-all;  
}

.commentSection ul li{
  list-style: none;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 10px;
  
}

.commentSection ul{
  display: flex;
  border: 1px solid lightgrey;
  
}

.commentSection li svg{
  color: rgb(106, 145, 145);
  border-right: 1px solid lightgray;
  padding-right: 20px;
}

.formSection{
  display: flex;
  flex-direction: column;  
  
}

.formSection textarea{
  min-height: 80px;
}

.formSection button{
  border: none;
  color: white;
  font-size: 15px;
  background-color:rgb(93, 125, 125);
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
}